<p id="notice"><%= notice %></p>

<h1>Listado de Casas:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mts</th>
      <th>Description</th>
      <th>Price</th>
      <th>Region</th>
      <th>Photo</th>
      <th>Fav</th>
      <!-- <th>User</th>
      <th>Company</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= house.mts %></td>
        <td><%= house.description %></td>
        <td><%= house.price %></td>
        <td><%= house.region %></td>
        <td><%= image_tag(@house.photo) if @house.photo? %></td>
        <td><%= house.fav %></td>
        <!-- <td><%= house.user %></td>
        <td><%= house.company %></td> -->
        <td class="text-actions"><%= link_to 'Mostrar', house %></td>
        <td class="text-actions"><%= link_to 'Editar', edit_house_path(house) %></td>
        <td class="text-actions"><%= link_to 'Borrar', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
