<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Mts:</strong>
  <%= @house.mts %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Region:</strong>
  <%= @house.region.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @house.photo %>
</p>

<!-- <p>
  <strong>Fav:</strong>
  <%= @house.fav %>
</p> -->

<!-- <p>
  <strong>User:</strong>
  <%= @house.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @house.company %>
</p> -->

<% unless @quotation.any? %>
<p><a href="<%= new_house_quotation_path (@house) %>"><button type="button" class="btn btn-default navbar-btn">Cotizar</button></a></p>
<% end %>

<p><a href="<%= root_path (@house) %>"><button type="button" class="btn btn-default navbar-btn">Back</button></a></p>


<!-- <%= link_to 'Edit', edit_house_path(@house) %> | -->
<!--<%= link_to 'Back', houses_path %> -->
