<p id="notice"><%= notice %></p>

<p class="back"><a href="<%= root_path (@house) %>"><button type="button" class="btn btn-default">Atrás</button></a></p>

<br>

<div class="container">

  <table>
    <tr>
      <td>
        <div class="title">
          <br>
          <strong>DETALLES DE LA CASA</strong></div>
          <br>
        </td>
        <th>
        </th>
      </tr>
      <tr>
        <td>
          <p class="form">
            <%= @house.name %>
            <br><br>
            <%= @house.mts %> <%= "mt2" %>
            <br><br>
            <%= @house.description %>
            <br><br>
            <%= "UF" %> <%= @house.price %>
            <br><br>
            <%= @house.region.name %>
          </p></td>
          <td>
            <br>
            <%= image_tag @house.photo %>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <% unless @quotation.any? %>
    <p class="cotizar"><a href="<%= new_house_quotation_path (@house) %>"><button type="button" class="btn btn-default btn-lg">Cotizar Casa</button></a></p>
    <% end %>

<p class="favorita" style="font-family: 'News Cycle', sans-serif; color: white; font-size: 20px; position: relative; left: 50%; display: inline;"><%= link_to 'Favorita <3', house_fav_house_index_path(@house), :class => "btn  btn-lg btn-info", :method => "post"  %></p>


<!-- <a href="<%= house_fav_house_index_path(@house) %>""><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button></a> -->

<!--     <p class="cotizar" style="left: 67%;"><a href="<%= house_fav_house_index_path (@house) %>""><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button></a></p>
    <br><br>
 -->

<!--     <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div> -->

  <!-- <%= link_to 'Edit', edit_house_path(@house) %> | -->
    <!--<%= link_to 'Back', houses_path %> -->