<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<p>
  <strong>Compañía:</strong>
  <%= @seller.company.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @seller.id %>
</p>


<button type="button" class="btn btn-default" style="margin-right: 20px;"><%= link_to 'Atrás', sellers_path %></button>