<p id="notice"><%= notice %></p>

<h1>Users</h1>

<br><br>

<table style="font-family: 'News Cycle', sans-serif;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text"><%= user.name %></td>
        <td class="text"><%= user.email %></td>
        <td class="text"><%= user.phone %></td>
        <td class="text"><%= link_to 'Mostrar', user %></td>
        <td class="text"><%= link_to 'Editar', edit_user_path(user) %></td>
        <td class="text"><%= link_to 'Borrar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<p type="button" class="btn btn-default" style="font-family: 'News Cycle', sans-serif; font-size: 15px; position: relative; left: -30px;"><%= link_to 'Nuevo Usuario', new_user_path %></p>
