<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>ID Casas Favoritas:</strong>
  <% @fav.each do |favorito| %>
  <%= favorito.house_id %>,
  <% end %>
</p>



<button type="button" class="btn btn-default" style="margin-right: 20px;"><%= link_to 'Atrás', users_path %></button>