<table>
  <tr>
    <td></td>
      <th></th>
    </tr>
    <tr>
      <td style="padding-right: 50px; padding-top: 50px;">
          <%= image_tag @house.photo %>
        </td>
        <td>
          

          <%= form_for([@house, @quotation]) do |f| %>
          <% if @quotation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

            <ul>
              <% @quotation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <br><br>

          <div class="field" style="font-family: 'News Cycle', sans-serif; font-size: 18px; width: 300px;">
            <%= f.label :subject %>
            <br>
            <%= f.text_field :subject %>
          </div>
          <br>
          <div class="field" style="font-family: 'News Cycle', sans-serif; font-size: 18px;">
            <%= f.label :message %>
            <br>
            <%= f.text_field :message %>
          </div>

          <br>

          <div class="actions" style="font-family: 'News Cycle', sans-serif; font-size: 13px;">
            <%= f.submit %>
          </div>

          <% end %>
        </td>
      </tr>
    </table>
