<p id="notice"><%= notice %></p>

<h1>Cotizaciones</h1>

<br><br>

<table>
  <thead>
    <tr>
      <th>ID Usuario</th>
      <th></th><th></th><th></th><th></th>
      <th>Usuario</th>
      <th></th><th></th><th></th><th></th>
      <th style="background-color: #5bc0de; border-radius: 5px; padding: 10px;">Email</th>
      <th></th><th></th><th></th><th></th>
      <th>ID Casa</th>
      <th></th><th></th><th></th><th></th>
      <th>Título</th>
      <th></th><th></th><th></th><th></th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
    <tr>
      <td class="text"><%= quotation.user_id %></td>
      <td></td><td></td><td></td><td></td>
      <td class="text"><%= quotation.user.name %></td>
      <td></td><td></td><td></td><td></td>
      <td class="text" style="background-color: #cccccc; border-radius: 5px; padding: 10px; width: 170px;">
      <a href="mailto:<%= quotation.user.email  %>" ><%= quotation.user.email  %></a>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </td>
      <td></td><td></td><td></td><td></td>
      <td class="text"><%= quotation.house_id %></td>
      <td></td><td></td><td></td><td></td>
      <td class="text"><%= quotation.subject %></td>
      <td></td><td></td><td></td><td></td>
      <td class="text"><%= quotation.message %></td>
      <td></td><td></td><td></td><td></td>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default" style="margin-right: 20px;"><%= link_to 'Atrás', root_path %></button>

