<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td class="text"><%= company.name %></td>
        <td class="text"><%= company.email %></td>
        <td class="text"><%= link_to 'Mostrar', company %></td>
        <td class="text"><%= link_to 'Editar', edit_company_path(company) %></td>
        <td class="text"><%= link_to 'Borrar', company, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p type="button" class="btn btn-default" style="font-family: 'News Cycle', sans-serif; font-size: 15px; position: relative; left: -30px;"><%= link_to 'Nueva Empresa', new_company_path %></p>