<h1>Casas Pre-fabricadas</h1>
<p>Utiliza los filtros para definir la casa prefabricada que andas buscando</p>

<br>

<!-- FILTRO REGION -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Región <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="font-size: 10px;">
    <% Region.all.each do |region| %>
      <li><a href="<%= root_path(region: region.id)%>"><%= region.name  %></a></li>
    <% end %>  
  </ul>
</div>

<!-- FILTRO TAMAÑO -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mts2 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="font-size: 10px;">
    <li><a href="#">Hasta 25 mts2</a></li>
    <li><a href="#">25 a 40 mts2</a></li>
    <li><a href="#">40 a 60 mts2</a></li>
    <li><a href="#">60 a 80 mts2</a></li>
    <li><a href="#">80 a 100 mts2</a></li>
    <li><a href="#">Más de 100 mts2</a></li>
  </ul>
</div>

<!-- FILTRO ARMADO -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Armado? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="font-size: 10px;">
    <li><a href="#">Si</a></li>
    <li><a href="#">No</a></li>
  </ul>
</div>

<!-- FILTRO PRECIO -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Valor Aprox <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="font-size: 10px;">
    <li><a href="#">Hasta UF 400</a></li>
    <li><a href="#">Entre UF 401 y UF 600</a></li>
    <li><a href="#">Entre UF 601 y UF 800</a></li>
    <li><a href="#">Entre UF 801 y UF 1.000</a></li>
    <li><a href="#">Entre UF 1.001 y UF 2.000</a></li>
    <li><a href="#">Más de UF 2.000</a></li>
    
  </ul>
</div>


<button type="button" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar Casas
</button>

<br><br><br>

<div class="container">
  <div class="row">
    <% @houses.each do |house| %>
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <%= image_tag house.photo ||'casa1.jpg' %>
        <div class="caption">
          <h3> <%= house.name %> </h3>
          <p><h5><%= house.description %></h5></p>
          <p><h5><%= house.mts %></h5></p>
          <%= link_to "Ver", house, class: "btn btn-default", role: "button" %>
        </div>
      </div>
      </div>
    <% end %>
    </div>
</div>


