<!DOCTYPE html>
<html>
<head>
  <title>ProyectoDlTsc</title>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '254513221620729',
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 </script>

 <div class="container"> 

  <nav>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="<%= root_path%>" class="navbar-brand">
          <img alt="Brand" <%= image_tag 'logo2.png' %>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if user_signed_in? %>
            <li class="text"><%= current_user.email %> </li>
            <br>
            <div style="margin-right: -50px;">
              <button type="button" class="btn btn-default" style="margin-right: 20px;"><%= link_to "Salir", destroy_user_session_path, method: :delete %></button>
            </div>
            <% else %>
            <div  class="btn-group2" role="group" aria-label="...">
              <button type="button" class="btn btn-default"><%= link_to "Mi Cuenta", new_user_registration_path %></button>
              <span></span>
              <button type="button" class="btn btn-default"><%= link_to "Registro", new_user_registration_path %></button>
            </div>
            <% end %>
          </li> 
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

</body>
</html>
